body {
    margin: 0;
    overflow: hidden;
    background: radial-gradient(circle at bottom, #0a0a23, #000);
    font-family: 'Segoe UI', sans-serif;
    color: white;

    /* ⭐ CĂN GIỮA NGANG + DỌC */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    z-index: 1;
    text-align: center;
}

h1 {
    font-size: 60px;
    text-shadow: 0 0 20px gold;
    animation: glow 2s infinite alternate;
}
h2 {
    font-size: 30px;
    background: linear-gradient(45deg, rgb(0, 255, 85), rgb(0, 183, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 25px rgba(0, 255, 191, 0.8);
    animation: glow 2s infinite alternate;
}

@keyframes glow {
    from { text-shadow: 0 0 10px gold; }
    to   { text-shadow: 0 0 30px red; }
}

button {
    margin-top: 30px;
    padding: 18px 40px;
    font-size: 26px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background: linear-gradient(45deg, red, gold);
    color: white;
    box-shadow: 0 0 20px gold;
}

button:hover {
    transform: scale(1.1);
}

#troll {
    display: none;
    margin-top: 60px;
    font-size: 80px;
    font-weight: bold;
    color: #ff793b;
    text-shadow: 0 0 40px rgb(255, 72, 0);
    animation: shake 0.5s infinite;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-10px); }
    50% { transform: translateX(10px); }
    75% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: none; /* ⭐ QUAN TRỌNG: KHÔNG CHẶN CLICK */
}
.credit {
    position: fixed;
    bottom: 15px;
    right: 20px;
    font-size: 14px;
    opacity: 0.7;
    color: #ffd700;
    text-shadow: 0 0 5px red;
    z-index: 2;
    user-select: none;
}

